/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles, padding and margin on ul, ol elements with a class, which suggests default styling will be removed */
ul:where([class]),
ol:where([class]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v19-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v19-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v19-latin-500.woff2") format("woff2"), url("../fonts/rubik-v19-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/rubik-v19-latin-600.woff2") format("woff2"), url("../fonts/rubik-v19-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/rubik-v19-latin-700.woff2") format("woff2"), url("../fonts/rubik-v19-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

:root {
  --gap-comment: 20px;
}

body {
  background-color: #F5F6F9;
  font-family: "Rubik", sans-serif;
}
body button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-comment);
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 735px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.comment {
  background-color: #FFFFFF;
  padding: 20px 25px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.primary-comment {
  width: 100%;
}

.note-container {
  background-color: #F5F6FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  border-radius: 10px;
  justify-content: space-around;
}
.note-container button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 25px;
}
.note-container strong {
  color: #5457b6;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.comment-text {
  word-wrap: break-word;
  color: #67727e;
}

.comment-infos {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.comment-infos img {
  height: 2.2rem;
}
.comment-infos .comment-title {
  font-size: 1rem;
  font-weight: 500;
  color: #324152;
}
.comment-infos .comment-date {
  color: #67727e;
}

.comment-interaction {
  display: flex;
  flex-direction: row-reverse;
}
.comment-interaction .delete {
  gap: 0;
  color: #ED6368;
}

.total-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-comment);
}

.comment-interaction button {
  transition: 0.3s;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  gap: 3px;
  color: #5457b6;
  font-weight: bold;
}
.comment-interaction button:hover {
  opacity: 0.5;
}
.comment-interaction button img {
  max-height: 15px;
  object-fit: contain;
}

.replies-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-comment);
  align-items: end;
  border-left: 2px solid #eaecf1;
  margin-left: 4%;
}
.replies-container .secondary-comment {
  margin-left: 4%;
}

img[src*=icon] {
  width: 30px;
}

img[src*=icon-minus], img[src*=icon-plus] {
  opacity: 0.4;
  transition: 0.3s;
}

img[src*=icon-minus]:hover, img[src*=icon-plus]:hover {
  opacity: 1;
}

.post-comment-container {
  background-color: #FFFFFF;
  padding: 20px 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.post-comment-container .post-comment-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.post-comment-container .post-comment-form textarea {
  resize: none;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #eaecf1;
}
.post-comment-container .post-comment-form button[type=submit] {
  background-color: #5457b6;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.your-comment {
  color: #FFF;
  background-color: #5457b6;
  padding: 2px 7px;
  border-radius: 3px;
  font-size: 12px;
}

.replies-container-display {
  width: 100%;
  border: none;
}

.screen-mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .comment > .note-container {
    display: none;
  }

  .comment-header > .comment-interaction {
    display: none;
  }

  .comment {
    flex-direction: column;
  }

  .screen-mobile {
    display: flex;
    justify-content: space-between;
  }

  .note-container {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
