.attribution { 
        font-size: 11px; text-align: center; 
}
.attribution a { 
        color: hsl(228, 45%, 44%); 
}

body {
        background-color: #F5F6F9;
        
}

main {
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.container {
        max-width: 960px;
        margin: 0 auto;
}

.comment {
        background-color: #FFFFFF;
        padding: 10px 12px;
        display: flex;
}

.secondary-comment {
        width: 90%;
}


.note-container {
        background-color: #F5F6FA;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
        gap: 5px;
        border-radius: 10px;
        justify-content: space-around;

        button{
                background-color: rgba(0,0,0,0);
                border: none;
        }

        strong{
                color: #5457b6;
        }
}

.comment-header {
        display: flex;
        justify-content: space-between;
}

.comment-infos {
        display: flex;
        align-items: center;
        gap: 10px;
}

.total-comment {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
}

.comment-interaction {
        button {
                display: flex;
                align-items: center;
                background-color: rgba(0,0,0,0);
                border: none;
                gap: 5px;
                color: #5457b6;
                font-weight: bold;
        }
}