.attribution { 
        font-size: 11px; text-align: center; 
}
.attribution a { 
        color: hsl(228, 45%, 44%); 
}

:root  {
        --gap-comment: 20px;
}

body {
        background-color: #F5F6F9;
        font-family: 'Rubik', sans-serif;

        button {
                cursor: pointer;
        }
        
}

main {
        display: flex;
        flex-direction: column;
        gap: var(--gap-comment);
        margin-top: 5rem;
        margin-bottom: 5rem;
}

.container {
        max-width: 960px;
        margin: 0 auto;
}

.comment {
        background-color: #FFFFFF;
        padding: 20px 25px;
        display: flex;
        gap: 20px;
        border-radius: 10px;
}




.note-container {
        background-color: #F5F6FA;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
        gap: 5px;
        border-radius: 10px;
        justify-content: space-around;

        button{
                background-color: rgba(0,0,0,0);
                border: none;
        }

        strong{
                color: #5457b6;
        }
}

.comment-header {
        display: flex;
        justify-content: space-between;
}

.comment-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;


}

.comment-text {
        word-wrap: break-word;
        color: #67727e;
}

.comment-infos {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
                height: 2.2rem;
        }

        .comment-title {
                font-size: 1rem;
                font-weight: 500;
                color: #324152;
        }

        .comment-date {
                color: #67727e;
        }
}

.total-comment {
        display: flex;
        flex-direction: column;
        align-items: flex-end;  
        gap: var(--gap-comment);
}

.comment-interaction {
        button {
                display: flex;
                align-items: center;
                background-color: rgba(0,0,0,0);
                border: none;
                gap: 3px;
                color: #5457b6;
                font-weight: bold;

                img {
                        max-height: 15px;
                        object-fit: contain;
                }
        }
}

.replies-container {
        display: flex;
        flex-direction: column;
        gap: var(--gap-comment);
        align-items: end;
        border-left: 2px solid #eaecf1;
        margin-left: 4%;

        .secondary-comment {
                margin-left: 4%;
        }
}

// .replies-container::after{
//         content: " ";
//         height: 40px;
//         border-left: 2px solid #eaecf1;
// }

img[src*="icon"] {
        width: 30px;
}
.post-comment-container{
        background-color: #FFFFFF;
        padding: 20px 25px;
        border-radius: 10px;
        .post-comment-form {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 20px;

                textarea {
                        width: 100%;
                }

                button[type="submit"] {
                        background-color: #5457b6;
                        color: #FFFFFF;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 10px;
                        cursor: pointer;
                }
        }
}